/* .named{
    background-color: red;
    height: 100px;
    margin-bottom: 10px;
}
.rgb{
    background-color: rgb(56, 26, 163);
    height: 100px;
    margin-bottom: 10px;
}
.hex{
    background-color: #16c4df;
    height: 100px;
    margin-bottom: 10px;
}
.hsl{
    background-color: hsl(59, 83%, 34%);
    height: 100px;
} */